<component name="ArtifactManager">
  <artifact type="war" name="spring_mvc_extendion:war">
    <output-path>$PROJECT_DIR$/spring_mvc_extendion/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>spring_mvc_extendion</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="spring_mvc_extendion-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_mvc_extendion:war exploded" />
    </root>
  </artifact>
</component>